body {
  padding: 0;
  background-color: grey;
}

.hoja {
  height: 26cm;
  width: 21cm;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  margin: auto;
}

a {
  text-decoration: none;
}

.container-fluid {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.viacodigo_imagen {
  width: 100%;
  transform: scale(1.8);

  position: relative;
  top: 40%;
}

.viacodigo_listado_iconos {
  padding: 20px 0;
}
.viacodigo_listado {
  display: flex;
  list-style: none;
}

.viacodigo_listado li {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 25px;
}

.viacodigo__raya-roja {
  border-bottom: solid #f05351 2rem;
}

.viacodigo_link-azul {
  color: #174665;
  font-size: 8px;
}
.viacodigo_link-rojo {
  color: #f05351;
  font-size: 8px;
}
.viacodigo_iconos__circulo {
  border-radius: 50%;
  background-color: #f05351;
  height: 21px;
  width: 21px;
  position: relative;
  margin-bottom: 15px;
}

.viacodigo_iconos__circulo img {
  position: absolute;
}

.icono--libro{
  background-color:#63c1a2;

}
.icono--libro img{
  top: 20%;
  left: 25%;

}
.icono--telf{
  background-color: #fdd15a;

}
.icono--telf img{
  top: 20%;
  left: 20%;

}
.icono--sobre {
  background-color: #134568;
}

.icono--sobre img {
  top: 28%;
  left: 18%;
}
.icono--hoja{
  background-color: #ef514f;
}
.icono--hoja img{
  top: 15%;
  left: 22%;

}

.viacodigo_footer-raya {
  height: 26px;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-top: 3cm;
  background-color: #f05351;
}
span {
  color: red;
}
.viacodigo_fecha {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  padding-right: 2rem;
  padding-bottom: 4rem;
}

.viacodigo_asuntos {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 12px;
}
.viacodigo_consideracion {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 12px;
}
.viacodigo_datos {
  font-size: 12px;
}
.viacodigo_saludos {
  font-size: 12px;
}
.viacodigo_atentamente {
  font-size: 12px;
}
.viacodigo_firma {
  font-size: 12px;
}
.viacondigo_contenido {
  padding-left: 5rem;
  padding-top: 5rem;
}
