
.viacodigo_ancho{
    width: 21cm;
}
a{
    text-decoration: none;
}
li img{
    padding-bottom: 25px;
}

.viacodigo_imagen{
    width:100%;
}

.viacodigo_listado_iconos{
    display: flex;
}
.viacodigo_listado{
    display: flex;
    list-style: none;
}

.viacodigo_listado li{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-left: 25px;
}

.viacodigo__raya-roja{
    border-bottom: solid #f05351 5rem;
}

.viacodigo_link-azul{
    color: #174665;
    font-size: 7px;
    
}
.viacodigo_link-rojo{
    color: #f05351;
    font-size: 7px;

}
.viacodigo_iconos{
    height: 40px;
    
}
.viacodigo_footer-raya{
    border-bottom: solid #f05351 26px;
}
span{
    color:red;

}
.viacodigo_fecha{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    padding-right: 2rem;
}

.viacodigo_asuntos{
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 12px;
}
.viacodigo_consideracion{
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 12px;
}
.viacodigo_datos{
    font-size: 12px;
}
.viacodigo_saludos{
    font-size: 12px;
}
.viacodigo_atentamente{
font-size: 12px
}
.viacodigo_firma{
    font-size: 12px;

}
.viacondigo_contenido{
    padding-left: 5rem;
}
